.box {
  background: none;
  :global {
    .numSources {
      text-align: center;
      margin: 5px auto;
      font-size: 20px;
      padding: 12px;
      border: 2px solid #2b63e5;
      border-radius: 12px;
      background: #90c5f9;
      span {
        font-weight: 700;
        font-size: 28px;
      }
    }
    .progressBar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      background: #5fa7ee;
      transform-origin: 0%;
    }
    .typesBox {
      margin-top: 10px;
      overflow: hidden;
      .title {
        margin-top: 10px;
        position: relative;
        &::after {
          position: absolute;
          left: 0%;
          bottom: -2px;
          content: '';
          display: inline-block;
          width: 42px;
          height: 5px;
          background: #99ffc7;
          border-radius: 20px;
        }
        span {
          font-size: 20px;
          font-weight: 700;
          color: #333;
          margin-right: 5px;
        }
        .explain {
          font-size: 14px;
          color: #ccc;
          font-weight: 400;
          margin-left: 2px;
        }
      }
      .types {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        .type {
          margin: 12px 12px 0 0;
        }
      }
    }
    .search {
      position: relative;
      margin: 15px 0 15px;
      border-radius: 120px;
      display: flex;
      align-items: center;
      span {
        position: absolute;
        left: 10px;
        top: 8px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAOVBMVEUAAAA4ODg0NDQzMzMzMzMwMDAzMzM0NDQyMjIzMzMzMzM0NDQzMzM0NDQyMjI0NDQzMzMzMzMzMzMmlKXLAAAAEnRSTlMAIM/hwRCfQGCzi4B0WDgsUO/hZcuAAAABEklEQVQ4y42USQKDIAxFmamiiLn/YUsCLQoC/g1KnhkwhN20r4sEkMu6s668gYuMf4QOAZXE0VIbPGirIK2ApFzgWnPrRH7XN0qkTVu2uEmBrxz5kgkqoKRPq7wUZ5W4uOV3kPeKKVF+9QqMmH3VcYsDD1FEtbJoS+eMJRnWkfobs7OBO/rbKfzIHfbBGlfXx1w0r3Fd4mr7WIjmJa6SUuuK42nlCnQf02h/ib0OSiWEPmaxhPcHslNTdSXoeHMNdpQa0JMZuSt94cndwJl/25alyVUvfzhuV0a0V0ZVV1rBQ1wrAfVprrPhFwg/bbi8KZzF4RAcvhduNmo+iZsOrsxNx2DmpkOVuJPNRJxkcwV5hi9z+B03H6YAmwAAAABJRU5ErkJggg==)
          center/100% 100% no-repeat;
      }
      input {
        max-width: 100%;
        border: 1px solid #333;
        flex: 1;
        height: 30px;
        outline: none;
        font-size: 14px;
        padding: 0 12px 0 32px;
        border-radius: 120px;
        &:focus {
          border-color: #2b63e5;
          box-shadow: 3px 3px 10px 3px #ddd;
        }
      }
      button {
        padding: 0;
        width: 50px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 12px;
        border: 1px solid #c1c1c1;
        outline: none;
        box-shadow: 1px 1px 3px 3px #ebebeb;
      }
    }
    .container {
      .typeModule {
        margin-top: 16px;
        .type {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 8px;
          max-width: 100%;
          background: #63b2ef;
          padding: 5px 8px;
          border-radius: 8px;
          color: #fff;
          display: flex;
          align-items: center;
          .icon {
            display: inline-block;
            margin-right: 5px;
            width: 20px;
            height: 20px;
          }
        }
        .list {
          .item {
            display: flex;
            justify-content: space-between;
            border: 0.5px solid #ccc;
            border-top: none;
            &:last-child {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }
            &:first-child {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              border-top: 0.5px solid #ccc;
            }
            .name {
              flex: 1;
              padding: 8px;
              display: flex;
              align-items: center;
            }
            .handle {
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              border-left: 0.5px solid #ccc;
              padding: 8px;
              color: #777777;
              span {
                padding: 0 4px;
                border: 0.5px solid #c1c1c1;
                border-radius: 4px;
              }
              .copy {
                margin-top: 6px;
              }
            }
          }
        }
      }
    }
    .scrollTop {
      position: fixed;
      left: 10px;
      bottom: 60px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ccc;
      opacity: 0.5;
      transition: all 0.3;
      background: url(../../assets/xiangshang.png) center/90% 90% no-repeat;
    }
  }
}

.toast {
  width: 250px !important;
}

.drawer {
  height: 100vh; /* 或者其他适合的高度 */
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  :global {
    .header {
      width: 100%;
      padding: 16px;
      border-bottom: 0.5px solid #eee;
      display: flex;
      justify-content: center;
      position: relative;
      .closeIcon {
        position: absolute;
        left: 22px;
        top: 14px;
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(../../assets/return.svg) center/100% 100% no-repeat;
      }
    }
    section {
      margin: 16px;
      box-shadow: 0 3px 14px 4.5px #dbdbdb;
      border-radius: 8px;

      img {
        width: 100%;
      }
    }
    .btn {
      margin: 8px auto 40px;
      background: #2b63e5;
      color: #fff;
    }
  }
}
